/* root */


:root{

    --background: rgb(174, 174, 179);
    --color-header: rgb(255, 136, 0);
    --bg-blok: rgba(0,0,255);
    
}


body{
    background-color: var(--background);
}
/* fonts */

h1{

    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

h2{

    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase ;
}


/* //header */
header{


    width: 100%;
    background-color: var(--color-header);
 
   
    
}


nav a{

font-size: 2em;
font-weight: bold;


}

nav{
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    padding: 20px;
   
    
}

ul{
   
}

li{
    display: inline;
    margin-right: 20px;
    
}

header button{

    width: 100px;
    border-radius: 50px;
    height: 50px;
    margin-top: 5px;
    position: absolute;
    top: 0;
    right: 20px;


    
}


/* einde header */

/* media query phone */
@media screen and (max-width: 1000px){
    
header button{
    display: none;
}

nav a{
    font-size: 1em;
}

.hero-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100% !important;
    height: 45%;
    z-index: -1;
}

h1{
    font-size: 3em;
    color: black;
}

#about-me{
    flex-wrap: wrap;
 
}

#about-me div{

    margin: 1em 0em;

}

#avd-work button{
    display: none;
}



#booking *{
    margin-top: 10px !important ;
    margin-bottom: 10px!important;
}

#booking h1{
    font-size: 3em;
}

.email-container{

    width: 100% !important;
    flex-wrap: wrap;
    margin-left: 50%;
}

.email-container button{


    flex-wrap: wrap;
    margin: 0 auto
}

#email{

    width: 100% ;
    height: 3em;
    border: solid 2px black;
    
}


#message{

    width: 100% !important;
    height: 10em;
    border: solid 2px black;

}

.date-time-container{

    width: 100%;
    background-color: white;
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}


}
/* einde media query */

/* begin main */

main{
    max-width: 1100px;
    margin: 0 auto;
}


section{
    margin: 100px 1em;
}

/* hero section */
.hero-img{

    max-width: 30%;
    border-radius: 50%;
}

#hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

/* einde hero section */
/* item grid */

.blok{

    background-color: var(--bg-blok);
}

.blok p{
    display: none;
    
}

.blok:hover p{
    display: block;
}


/* einde item grid */


/* begin about me  */

#about-me{
    display: flex;
    justify-content: space-between;
    background-color: orange;
 
}

#about-me h2{
    margin: 1em 0em;
}

/* einde about me  */

/* begin videoplayer */

video{
    width: 100%;
    margin: 0 auto;
}

.button-wrap{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#avd-work button{

 
    height: 50px;
    border-radius: 10px;
    padding: 10px 80px;
    text-align: center;
}

#avd-work h2{

 
    margin: 1em 0em;
}

/* einde videoplayer */

/* begin contact */

#booking{
    background-color: red;
    text-align: center;
    
}

#booking button{
    background-color: black;
    color: white;
    border-radius: 2em;
    width: 150px;
    padding: 1em 2em;
    
    
}



#booking *{
    margin-top: 40px ;
    margin-bottom: 40px;
}

#message{

    width: 60%;
    margin: 0 auto;
    height: 10em;
    border: solid 2px black;
    
}

.email-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#email{

    width: 100%;
    height: 3em;
    border: solid 2px black;
    
}


.date-time-container{

    width: 100%;
    background-color: white;
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}


/* einde main */

/* footer */

footer{
    height: 50px;
    background-color: var(--color-header);
}
/* einde footer */