/* root */


:root{

    --background: rgb(246, 255, 208);
    --color-header: rgb(255, 136, 0);
    --bg-blok: rgba(0,0,255);
    --bg-btn: rgba(0,0,0);
    --font-clr-btn:rgba(255, 136, 0);
    --bg-btn-hover:rgba(255, 136, 0);
    --font-clr-btn-hover:rgba(0,0, 0);
    --tag-clr-mid:rgb(0, 255, 13);
    --tag-clr-big:rgb(242, 247, 0);
    --tag-clr-sml:rgb(255, 0, 0);
    
}

.darkmode {

    transition: all 2s;
    background-color: var(--bg-btn);
    color: var(--font-clr-btn);
   
}

.darkmode button{

    background-color: var(--bg-btn);
    color: var(--font-clr-btn);
    border: solid 1px var(--font-clr-btn);
}


.darkmode header, .darkmode footer  {

    background-color: var(--bg-btn);
    color: var(--font-clr-btn);

}

.darkmode .tag{
    color: black;
}


#dark_light-toggle{

    display: flex;
    align-items: center;
    text-align: center;

}






body{
    background-color: var(--background);
    transition: all 2s;
    
}


button{
    background-color: var(--bg-btn);
    color: var(--font-clr-btn);
    border-radius: 10px;
    width: 150px;
    padding: 1em 0em;
    transition: all 400ms;

}

button:hover{
    background-color: var(--bg-btn-hover);
    color: var(--font-clr-btn-hover);
    

}
/* fonts */

h1{

    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    
}

h2{

    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase ;
}


/* //header */
header{


    width: 100%;
    background-color: var(--color-header);
    position: relative;
 
   
    
}


nav a{

font-size: 2em;
font-weight: bold;


}

nav{
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    padding: 20px;
   
    
}

ul{
   
}

li{
    display: inline;
    margin-right: 20px;
    
}

header button{

    width: 100px;
    border-radius: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;


    
}


/* einde header */

/* media query phone */
@media screen and (max-width: 1000px){
    
header button{


    width: 15%;
    font-size: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header{
    position: relative;
}

nav a{
    font-size: 1em;
}

/* begin hero mediaquery */


#hero-section{
    position: relative;
    text-align: center;
}
.hero-img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%!important;
    transform: translate(-50%,-50%);
    border-radius: 50%!important;
    z-index: -1;
}

h1{
    font-size: 3em;
   
}
/* einde hero mediaquery */

/* begin about me  mediaquery*/

#about-me{
flex-wrap: wrap;
flex-direction: column;
gap: 0em;
 
}

#about-me div{

    margin: 1em 0em;

}

.over-mij{
text-align: center!important;
}


/* einde about-me mediaquery*/

/* begin avd-work mediaquery*/

#avd-work button{
    display: none;
}

video{
    width: 100%;
    height: 300px!important;
    
}

.btn-vid-phone{

    display: block!important;
     display: flex!important;
    justify-content: space-between;
    align-items: center;
}

.video-container #skipBtn{

    display: none!important;
}

/* einde avd-work mediaquery*/

/* begin bookin mediaquery */

#booking *{
    margin-top: 10px !important ;
    margin-bottom: 10px!important;
}

#booking h1{
    font-size: 3em;
}

.email-container{

    width: 100% !important;
    flex-wrap: wrap;
    margin-left: 50%;
}

.email-container button{


    flex-wrap: wrap;
    margin: 0 auto
}

#email{

    width: 100% ;
    height: 3em;
    border: solid 2px black;
    
}


#message{

    width: 100% !important;
    height: 10em;
    border: solid 2px black;

}

.date-time-container{

    width: 100%;
    background-color: white;
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}
/* einde booking media query */

}
/* einde media query */

/* begin main */

main{
    max-width: 1100px;
    margin: 0 auto;
}


section{
    margin: 100px 1em;
}

/* hero section */
.hero-img{

    max-width: 30%;
    border-radius: 50%;
    border: solid 2px var(--bg-btn-hover);
    transition: all 400ms;
}

.hero-img:hover{

    border: solid 2px var(--bg-btn);
    scale: 1.2;
}

#hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}
#hero-section{
transition: all 400ms;

}

#hero-section:hover{
    color: var(--bg-btn-hover);
    
}




/* einde hero section */
/* item grid */

.blok{

    border: solid 2px rgb(255, 136, 0);
    text-align: center;
    border-radius: 10px;
    padding: 2rem;
    
    
}

.blok:hover{

    border: solid 2px var(--bg-btn);
    
    
    
    
}


.blok p{
    opacity: 0;
    margin: 4rem 0rem;
    transition: all 400ms;
    
}



.blok:hover p{
    opacity: 1;
}




#item-grid{

    display: grid;
    gap: 1rem;
    
}

/* media query grid template */

@media(min-width:1000px){

    #item-grid{

        grid: repeat(2,1fr)/ repeat(4,1fr) ;
    
    }

    .blok.Dce{
        grid-column: 1 / span 2;
         
    }
    .blok.Aegidius{
        grid-column: 3 / 4; 
    }

    .blok.Codingcat{
        grid-column: 4 / 4; 
        
        
        
    }
    .blok.MMS{
        grid-column: 1 / span 4; 
        
    }
    
    .blok{
        position: relative;
    }
    .blok button{
        position: absolute;
        bottom: 1em;
        right: 1em;
    }

    
}

/* einde item grid */


/* begin about me  */

#about-me{
    display: flex;
    justify-content: space-between;
 
}

#about-me h2{
    margin: 1em 0em;

}


#tag-grid{

    display: grid;
    gap: 1rem;

}

.tag{

    border-radius: 50px;
    padding: 1em 5em;
    text-align: center;
}

.tag.groot{background-color: var(--tag-clr-big);}
.tag.middel{background-color: var(--tag-clr-mid);}
.tag.klein{background-color: var(--tag-clr-sml);}


@media(min-width:1000px){

    #tag-grid{

        grid: repeat(4,1fr)/ repeat(3,1fr) ;
    
    }

    .tag.adobe{
        grid-column: 3 / span 4;
    }
    .tag.gd{
        grid-column: 1 / span 6;
         
    }
    .tag.mmt{
        grid-column: 1 / span 4; 
    }

    .tag.avd{
        grid-column: 2 / span 3; 
        
        
        
    }
    .tag.uxd{
        grid-column: 1 / span 5; 
        
    }
    
    .blok{
        position: relative;
    }
    .blok button{
        position: absolute;
        bottom: 1em;
        right: 1em;
    }

   
    
}
/* einde about me  */




/* begin videoplayer */

.video-container{

    position: relative;
}

video{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.button-wrap{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#avd-work button{

 
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

#avd-work h2{

 
    margin: 1em 0em;
}


#avd-work p{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-vid-phone{
    display: none;
   
}


#skipBtn{
    height:100px;
    width:100px;
    display: block !important;;
    border:none;
    background:var(--bg-btn);
    color:var(--font-clr-btn);
    border-radius:10px;
    font-size:1em;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

#skipBtn1{
    height:100px;
    width:100px;
    display: block !important;;
    border:none;
    background:var(--bg-btn);
    color:var(--font-clr-btn);
    border-radius:10px;
    font-size:1em;
    
}

#playBtn{
    height:100px;
    width:100px;
    display: block !important;;
    border:none;
    background:var(--bg-btn);
    color:var(--font-clr-btn);
    border-radius:10px;
    font-size:1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

#pauseBtn{
    height:100px;
    width:100px;
    display: block !important;;
    border:none;
    background:var(--bg-btn);
    color:var(--font-clr-btn);
    border-radius:10px;
    font-size:1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#avd-work button:hover{
   
    background:var(--bg-btn-hover);
    color:var(--font-clr-btn-hover);
}



/* einde videoplayer */





/* begin contact */

#booking{
    text-align: center;
    
}

#booking button{
    background-color: var(--bg-btn);
    color: var(--font-clr-btn);
    border-radius: 2em;
    width: 150px;
    padding: 1em 2em;
    
}

#booking button:hover{
    background-color: var(--bg-btn-hover);
    color: var(--font-clr-btn-hover);
   
    
    
}




#booking *{
    margin-top: 40px ;
    margin-bottom: 40px;
}



#message{

    width: 60%;
    margin: 0 auto;
    height: 10em;
    border: solid 2px black;
    font-size: 1.2rem
    
}

.email-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#email{

    width: 100%;
    height: 3em;
    border: solid 2px black;
    font-size: 1.2rem
    
}


.date-time-container{

    width: 100%;
    background-color: white;
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 1.2rem
    
}


/* einde contact */

/* einde main */

/* footer */

footer{
    height: 50px;
    background-color: var(--color-header);
}
/* einde footer */